.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: #ffffff;
  z-index: 100;
  padding-left: 60px;
  padding-right: 64px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header.scrolled {
  height: 80px;
}
.header_inner {
  width: 100%;
  height: 100%;
}
.logo a {
  font-family: "Lucida", serif;
  font-size: 30px;
  color: #2f2f2f;
}
.main_nav {
  padding-left: 252px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.main_nav ul li {
  display: inline-block;
  margin-right: 50px;
}
.main_nav ul li:last-child {
  margin-right: 0;
}
.main_nav ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #2f2f2f;
  font-weight: 600;
  letter-spacing: 0.2em;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.main_nav ul li a:hover {
  color: #937c6f;
}
.header_content{
	display: flex;
	align-items: center;
	margin-left: auto;
}
.search
{
	display: inline-block;
	width: 300px;
}
.search_input
{
	width: 100%;
	height: 43px;
	background: #f9f5f5;
	border: none;
	outline: none;
	padding-left: 20px;
}
.search_button
{
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	width: 19px;
	height: 19px;
	background: transparent;
	border: none;
	outline: none;
}
.search_button:focus
{
	outline: none !important;
}
.search_button img
{
	max-width: 100%;
}
.shopping
{
	display: inline-block;
	margin-left: 111px;
	padding-right: 161px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.shopping a
{
	display: inline-block;
	margin-right: 10px;
}
.shopping a:last-child
{
	margin-right: 0;
}
.cart_num_container,
.star_num_container
{
	position: absolute;
	top: 13px;
	left: -5px;
	width: 15px;
	height: 15px;
	background: #937c6f;
	border-radius: 50%;
}
.cart_num_inner,
.star_num_inner
{
	width: 100%;
	height: 100%;
}
.cart_num,
.star_num
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 9px;
	font-weight: 600;
	color: #FFFFFF;
}
.star img
{
	width: 20px;
	height: 20px;
}
.avatar img
{
	width: 20px;
	height: 20px;
}

.burger_container {
  position: absolute;
  top: calc(50% + 4px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 22px;
  height: 16px;
  cursor: pointer;
}
.burger_container div {
  width: 100%;
  height: 2px;
  background: #232323;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  pointer-events: none;
}
.burger_container:hover div {
  background: #937c6f;
}
.menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: #ffffff;
  z-index: 101;
  padding-right: 60px;
  padding-top: 87px;
  padding-bottom: 87px;
  padding-left: 50px;
}
.menu.active {
  right: 0;
}
.menu_close_container {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 18px;
  height: 18px;
  transform-origin: center center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
.menu_close {
  width: 100%;
  height: 100%;
  transform-style: preserve-3D;
}
.menu_close div {
  width: 100%;
  height: 2px;
  background: #232323;
  top: 8px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_close div:last-of-type {
  -webkit-transform: rotate(90deg) translateX(-2px);
  -moz-transform: rotate(90deg) translateX(-2px);
  -ms-transform: rotate(90deg) translateX(-2px);
  -o-transform: rotate(90deg) translateX(-2px);
  transform: rotate(90deg) translateX(-2px);
  transform-origin: center;
}
.menu_close:hover div {
  background: #937c6f;
}
.menu .logo {
  margin-bottom: 60px;
}
.menu_nav {
  width: 100%;
  overflow: auto;
  padding-right: 10px;
}
.menu_nav::-webkit-scrollbar {
  width: 3px;
}
.menu_nav::-webkit-scrollbar-track {
  background: #e0e3e4;
}
.menu_nav::-webkit-scrollbar-thumb {
  background: #766359;
}
.menu_nav ul li {
  margin-bottom: 11px;
}
.menu_nav ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #2f2f2f;
  font-weight: 600;
  letter-spacing: 0.2em;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.menu_nav ul li a:hover {
  color: #937c6f;
}
.menu .search {
  width: 100%;
  margin-bottom: 67px;
}
.autocomplete {
  /*the container must be positioned relative:*/
	width: 100%;
  position: relative;
  display: inline-block;
}
#headerInput,
#menuInput {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.menu_dropdown{
  display: inline-block;
}
.dropdown li {
  margin-right: 0 !important;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .header {
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo a {
    font-size: 24px;
  }
  .menu {
    width: 100%;
    right: -100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu .search {
    margin-bottom: 50px;
  }
  .menu .search_input {
    height: 36px;
  }
  .menu .logo {
    margin-bottom: 35px;
    margin-right: auto;
  }
  .menu.active {
    right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .main_nav {
    display: none;
  }
  .shopping {
    padding-right: 91px;
  }
}
@media only screen and (max-width: 1380px) {

  .header_search {
		display: none;
  }
  .main_nav {
    padding-left: 60px;
  }
  .main_nav ul li {
    margin-right: 34px;
  }
}
@media only screen and (max-width: 1440px) {
  .shopping {
    padding-right: 74px;
  }
}
@media only screen and (max-width: 1600px) {
  .main_nav {
    padding-left: 100px;
  }
  .shopping {
    padding-right: 100px;
  }
}
@media only screen and (max-width: 1800px)
{
	.search
	{
		width: 210px;
	}
  .shopping{
    margin-left: 40px;
  }
}

